services:
  nextjs-app:
    build: .
    container_name: porto-aridutomo
    restart: always
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - nginx-network

networks:
  nginx-network:
    external: true